<div class="checkout-container">
  <div class="progress-container">
    <nz-progress
      [nzPercent]="getProgressPrecent()"
      [nzShowInfo]="false"
      [nzStrokeWidth]="3"
    ></nz-progress>
  </div>

  <!-- FIRST STEP -->
  <div *ngIf="currentStep === 1">
    <div class="billing-container">
      <h2>مشخصات گیرنده</h2>
      <form>
        <div
          class="input-container"
          *ngFor="let field of billingAddress; index as i"
        >
          <label for="">{{ field.name }}</label>
          <input
            nz-input
            [type]="field.type"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [(value)]="field.value"
            [(ngModel)]="field.value"
          />
        </div>
      </form>
      <button
        nz-button
        (click)="submitBilling()"
        [disabled]="canBillingSubmit()"
      >
        ادامه
      </button>
    </div>
  </div>
  <!-- SECOND STEP -->
  <div *ngIf="currentStep === 2">
    <div class="payment-container">
      <h2>جزئیات پرداخت</h2>
      <form>
        <div class="input-container">
          <label for="">شماره کارت</label>
          <input
            nz-input
            type="text"
            name="cardNumber"
            [(value)]="cardNumber"
            [(ngModel)]="cardNumber"
            placeholder="1234 1234 1234 1234"
          />
        </div>
        <div class="input-container">
          <label for="">نام و نام خانوادگی</label>
          <input
            nz-input
            type="text"
            name="cardName"
            [(value)]="cardName"
            [(ngModel)]="cardName"
            placeholder="نام و نام خانوادگی"
          />
        </div>
        <div class="‼️">
          <div class="input-container">
            <label for="">تاریخ انقضا</label>
            <input
              nz-input
              type="text"
              name="cardExpiry"
              [(value)]="cardExpiry"
              [(ngModel)]="cardExpiry"
              placeholder="06/30"
            />
          </div>
          <div class="input-container">
            <label for="">رمز کارت</label>
            <input
              nz-input
              type="text"
              name="cardCode"
              [(value)]="cardCode"
              [(ngModel)]="cardCode"
              placeholder="123"
            />
          </div>
        </div>
      </form>
      <button
        nz-button
        [disabled]="!canPaymentSubmit()"
        (click)="submitPayment()"
      >
        ادامه
      </button>
    </div>
  </div>
  <!-- THIRD STEP -->
  <div *ngIf="currentStep === 3">
    <div class="summary-container">
      <div class="summary-container__order">
        <h2>خلاصه سفارشات</h2>
        <div class="details">
          <div><span>محصولات</span> {{ cartData.products.length }}</div>
          <div><span>روش پرداخت</span>آنلاین</div>
          <div>
            <span>مجموع سفارشات</span> {{ cartData.total | persianNum}} تومان
          </div>
        </div>
        <button
          nz-button
          nzType="primary"
          (click)="submitCheckout()"
          [nzLoading]="loading"
        >
          تایید سفارش
        </button>
      </div>
      <div class="summary-container__items">
        <h2>سفارشات شما</h2>
        <div class="item-list">
          <div class="item-container" *ngFor="let item of cartData.products">
            <div class="item-image">
              <img [src]="item.image" alt="" />
            </div>
            <div class="item-title">
              {{ item.title }}
            </div>
            <div class="item-total">
              {{ item.price | persianNum}} تومان x {{ item.quantity }} =
              {{ item.quantity * item.price | persianNum}} تومان
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LAST STEP - THANK YOU -->
  <div *ngIf="currentStep === 4">
    <div class="confirmation-container">
      <header>
        <div class="title">
          <h1>با سپاس از خرید شما</h1>
          <p>لطفا ایمیل خود را برای تایید سفارش بررسی کنید</p>
        </div>
        <div class="order-id">
          کد سفارش: <span>{{ orderId }}</span>
        </div>
      </header>
      <button nz-button class="cta-button" routerLink="/">
        ادامه خرید
      </button>
      <div class="products-container">
        <h2>سفارشات شما</h2>
        <div class="products-container__list">
          <div class="list-item" *ngFor="let item of products">
            <div class="item-image">
              <img [src]="item.image" alt="" />
            </div>
            <div class="item-title">
              {{ item.title }}
            </div>
            <div class="item-total">
              {{ item.price | persianNum}} تومان x {{ item.quantity }} =
              {{ item.quantity * item.price | persianNum}} تومان
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
