<div class="product-card">
  <div class="product-card__image" routerLink="/product/{{ id }}">
    <img class="h-250 object-fit-contain" src="{{ image }}" alt="" />
  </div>
  <div class="product-card__info danaMedium">
    <header>
      <div class="title">
        <div class="product-name">{{ title }}</div>
        <div class="product-short-desc">{{ short_desc }}</div>
      </div>
      <div class="product-price">{{ price | persianNum}} تومان</div>
    </header>
  </div>
  <div class="product-card__cta">
    <button
      nz-button
      [disabled]="quantity === 0"
      (click)="
        onAdd({
          id: id,
          price: price,
          image: image,
          title: title,
          maxQuantity: quantity
        })
      "
    >
      {{ quantity === 0 ? "Out of stock" : "افزودن به سبد خرید" }}
    </button>
  </div>
</div>
